%table.table.table-stripped.table-bordered.table-condensed
  %thead
    %tr
      %th= User.human_attribute_name :id
      %th= User.human_attribute_name :name
      %th= User.human_attribute_name :surname
      %th= User.human_attribute_name :email
      %th Actions
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.id, user_path(user.id)
        %td= user.name
        %td= user.surname
        %td= user.email
        %td= link_to "Edit", edit_user_path(user.id)