%h2 Stories
%p= link_to "Add", new_story_path
%table.table.table-stripped.table-bordered.table-condensed
  %thead
    %tr
      %th= Story.human_attribute_name :id
      %th= Story.human_attribute_name :title
      %th= Story.human_attribute_name :description
      %th= Story.human_attribute_name :state
      %th Actions
  %tbody
    - @stories.each do |story|
      %tr
        %td= link_to story.id, story_path(story)
        %td= story
        %td= story.description
        %td= story.state
        %td= link_to "Edit", edit_story_path(story)